/* Carousel base class */
.carousel {
  //margin-bottom: 4rem;
}

.carousel-indicators {
  opacity: .8;
  bottom:0;
  margin-bottom: 0;
  line-height: $spacer * 4;
}

.carousel-item {
  height: 90vh;
}

.carousel-item > img {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 90vh;
  object-fit: cover;
  //filter: contrast(80%) brightness(50%) saturate(50%); //performance issue

}

.carousel-control {
  text-indent: -9999px;
}

.carousel-caption {
  z-index: 10;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
}

.carousel-caption header {
  margin: 0 auto;
  max-width: 50%;
  margin-bottom: $spacer * 8;

  .categories {
    opacity: .4;
    font-size: $font-size-xs;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.carousel-caption footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 $spacer;
  line-height: $spacer * 4;

  .author {
    font-family: $font-family-monospace;
    float: left;
    .avatar{
      border-radius: 50%;
      height: $spacer * 2;
      width: $spacer * 2;
    }
  }

  time {
    float: right;
    opacity: .8
  }

}

